:root {
    --verde: #00b30c;
    --gris1: #353537;
    --gris2: #eaeaeb;
    --gris3: #777777;
}
h1,h2,h3 {
    font-family: 'Raleway' sans-serif;
    font-weight: 700;
}
h2{
    font-size: 3rem;
}
.titulo {
    font-weight: 700!important;
}
/* Header */
.header{
    background-image: url(../img/hero.jpg);
    min-height: 30rem;
}
.header .nav-link,
.header .nav-link:hover{
    color: white;
}
.header .btn-outline-light:hover {
    color: black!important;
}
.buscador {
    min-height: 25rem;
}
.btn-success {
    background-color: #00b30c!important;
}

/** Categorias **/

.categoria p {
    opacity: 0;
    padding-top: 30px;
    transition: all .3s ease;
}
.categoria {
    overflow: hidden;
    padding-bottom: 60px;
    height: calc(auto + 30px);
}

.categoria:hover p {
    display: block;
    opacity: 1;
    padding-top: 10px;
    color: #999;
}

/* VIDEO SECTION */
.bg-dark{
    
}